html {
	position: relative;
	min-height: 100%;
}

body {
	color: #fff;
	background-color: #333;
	padding: 10px 0;
	margin-bottom: 100px;
}

a, a:focus, a:hover {
	color: #fff;
}

.header {
	margin-bottom: 3em;
}

.header>.nav>li {
	font-weight: bold;
}

.header>.nav>li {
	border-bottom: 2px solid transparent;
}

.header>.nav>li:hover {
	border-bottom: 2px solid #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

.content {
	font-size: 17px;
	line-height: 1.5;
	margin-top: 3em;
}

.content p {
	margin: 25px 0;
}

.panel-footer {
	color: #333;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}